<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dad Jokes</title>
</head>
<!-- the getRandom joke function gets called on page load -->
<body onload="getRandomJoke()">  
  <div class="jumbotron text-center">
    <h1 class="display-4">Dad Jokes</h1>
    <p class="lead">Get ready to laugh</p>
    <hr class="my-4">
    <h3 id="joke-question"></h3>
    <p id="joke-answer"></p>
    <button class="btn btn-primary" onclick="getRandomJoke()">Get Another Joke</button>
    <a href="/features/addjoke/addjoke.html" class="btn btn-primary">Add a Joke</a>
    <a href="/features/jokelist/jokelist.html" class="btn btn-primary">List all Jokes</a>
  </div>

  <script >
    // function to get a random joke
  </script>

  <footer>
    <center>
      <p> <font color="white">&copy, S, Buchanan</font> </p>
    </center>
  </footer>
</body>
</html>